{{- if and (not .Values.storage.internal.existingSecret) .Values.storage.internal.enabled }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace (include "opencloud.minio.fullname" .) }}
{{- $rootPassword := "" }}
{{- if $secret }}
  {{- $rootPassword = index $secret.data "rootPassword" | b64dec }}
{{- else if .Values.storage.internal.rootPassword }}
  {{- $rootPassword = .Values.storage.internal.rootPassword }}
{{- else }}
  {{- $rootPassword = randAlphaNum 24 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opencloud.minio.fullname" . }}
type: Opaque
stringData:
  rootUser: {{ .Values.storage.internal.rootUser }}
  rootPassword: {{ $rootPassword }}
{{- end }}
