{{- if and (not .Values.identityProvider.keycloak.existingSecret) .Values.identityProvider.keycloak.enabled }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace (include "opencloud.keycloak.fullname" .) }}
{{- $adminPassword := "" }}
{{- if $secret }}
  {{- $adminPassword = index $secret.data "adminPassword" | b64dec }}
{{- else if .Values.identityProvider.keycloak.adminPassword }}
  {{- $adminPassword = .Values.identityProvider.keycloak.adminPassword }}
{{- else }}
  {{- $adminPassword = randAlphaNum 24 }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opencloud.keycloak.fullname" . }}
type: Opaque
stringData:
  adminUser: {{ .Values.identityProvider.keycloak.adminUser }}
  adminPassword: {{ $adminPassword }}
{{- end }}
